* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    background: rgb(103, 152, 225);

}

a {
    background: inherit;
    color: white;
    text-decoration: none;
    &:hover {
        color: aquamarine;
    }
}

address {
    background: inherit;
    color: white;
}