.container {
    width: 92%;
    margin: 0 auto;

    display: grid;
    place-items: center;
    gap: 1em;

    border: 10px solid lightgreen;
    border-radius: 20px;
    padding: 4em;
    margin: 4em;
    box-shadow: 
    0 0 20px lightgreen,
    0 0 40px gold,
    0 0 60px aquamarine;
}